nav {
  margin: 8px;
  display: -webkit-flex;
  display: flex;
}

.btn{
  margin-right: 5px;
}

.markedAsDone {
  text-decoration: line-through;
  color: #777;
}

.tableActions{
  width: 105px;
}

.todoForm{
  padding-bottom: 60px;
}
